<div class="margin-body">
  <h1 class="text-center">All Users</h1>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <ng-container matColumnDef="firstName" *ngIf="user.firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let user"><a [routerLink]="['/user', user._id]">{{user.firstName}}</a></td>
    </ng-container>

    <ng-container matColumnDef="lastName" *ngIf="user.lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ng-template #noFirstName>
    Sorry, Can't load right now...
  </ng-template>
</div>
