@import "~@angular/material/theming";
@include mat-core();

$md-mcgpalette0: (
    50 : #faf4f7,
    100 : #f2e4eb,
    200 : #ead3de,
    300 : #e2c1d1,
    400 : #dbb3c7,
    500 : #d5a6bd,
    600 : #d09eb7,
    700 : #ca95ae,
    800 : #c48ba6,
    900 : #ba7b98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd9ea,
    A700 : #ffbfdd,
    contrast: (
        50 : #ffffff,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-blue: (
    50 : #f9fcfe,
    100 : #f1f6fb,
    200 : #e7f1f9,
    300 : #ddebf7,
    400 : #d6e6f5,
    500 : #cfe2f3,
    600 : #cadff1,
    700 : #c3daef,
    800 : #bdd6ed,
    900 : #b2cfea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-green: (
    50 : #f6faf5,
    100 : #e9f3e5,
    200 : #dbebd4,
    300 : #cce3c2,
    400 : #c1ddb5,
    500 : #b6d7a8,
    600 : #afd3a0,
    700 : #a6cd97,
    800 : #9ec78d,
    900 : #8ebe7d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e7ffde,
    A700 : #d4ffc4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent: mat-palette($md-blue);
$my-app-warn: mat-palette($md-green);

$my-theme: mat-dark-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-theme);
